body 
{
    width:1200px;
    font-family: Arial, Helvetica, sans-serif;
}


table, tr, td
{
    padding:10px;
}

.AnalyticsSection
{
    border: 1px black solid; 
    padding:3px;
    width:122px;
    height: 95px;
}

.SelectionWidth
{
    width:240px;
}

.SearchField
{
    display:inline-block;
    border: 1px black solid;
    background-color:lightgrey;
}

span#Search
{
    margin-top:25px;
}

.Green
{
    color:green;
}

.Yellow
{
    color:goldenrod;
}

.Red
{
    color:Red;
}

.NoPadding
{
    padding: 0px;
    margin: 0px;
}
